In [2]:
# import pandas to handle dataframes
import pandas as pd

In [7]:
# csv seperated values
user_cols = ["mean_speed_right", "mean_speed_center", "mean_speed_left", "traffic_flow_right", "traffic_flow_center", "traffic_flow_left", "proportion_passenger_car_right", "proportion_passenger_car_center", "proportion_passenger_car_left", "month", "hour"]
df = pd.read_csv("assignment_2_data.txt", header=None, names=user_cols)
df

,mean_speed_right,mean_speed_center,mean_speed_left,traffic_flow_right,traffic_flow_center,traffic_flow_left,proportion_passenger_car_right,proportion_passenger_car_center,proportion_passenger_car_left,month,hour
0,115.67,127.19,133.36,143,243,56,0.69,0.97,1.00,9,800
1,116.82,127.35,131.17,171,290,63,0.67,0.95,0.98,9,900
2,116.72,126.86,132.13,239,353,154,0.65,0.94,0.97,9,1000
3,115.91,125.86,131.48,271,396,172,0.69,0.87,0.98,9,1100
4,115.34,126.68,130.91,276,364,163,0.70,0.87,0.99,9,1200
...,...,...,...,...,...,...,...,...,...,...,...
2570,122.26,126.33,132.13,212,384,163,0.45,0.99,0.99,10,2000
2571,121.24,126.02,132.24,184,316,130,0.49,0.98,1.00,10,2100
2572,121.03,126.65,133.41,140,244,81,0.49,0.97,1.00,10,2200
2573,122.31,125.18,130.82,111,161,41,0.45,0.94,0.98,10,2300
2574,119.52,124.56,132.06,82,129,33,0.49,0.98,1.00,10,2400

In [3]:
# number of rows and columns
df.shape

(2575, 11)

In [4]:
# data types of independent variables
df.dtypes

mean_speed_right                   float64
mean_speed_center                  float64
mean_speed_left                    float64
traffic_flow_right                   int64
traffic_flow_center                  int64
traffic_flow_left                    int64
proportion_passenger_car_right     float64
proportion_passenger_car_center    float64
proportion_passenger_car_left      float64
month                                int64
hour                                 int64
dtype: object

In [5]:
# create a Python list of feature names
feature_cols_right = ['traffic_flow_right', 'proportion_passenger_car_right']
feature_cols_center = ['traffic_flow_center', 'proportion_passenger_car_center']
feature_cols_left = ['traffic_flow_left', 'proportion_passenger_car_left']

# use the list to select a subset of the original DataFrame
ZR = df[feature_cols_right]
ZC = df[feature_cols_center]
ZL = df[feature_cols_left]

In [6]:
# print the first 5 values for right
ZR.head()

   traffic_flow_right  proportion_passenger_car_right
0                 143                            0.69
1                 171                            0.67
2                 239                            0.65
3                 271                            0.69
4                 276                            0.70

In [7]:
# print the first 5 values for center
ZC.head()

   traffic_flow_center  proportion_passenger_car_center
0                  243                             0.97
1                  290                             0.95
2                  353                             0.94
3                  396                             0.87
4                  364                             0.87

In [8]:
# print the first 5 values for left
ZL.head()

   traffic_flow_left  proportion_passenger_car_left
0                 56                           1.00
1                 63                           0.98
2                154                           0.97
3                172                           0.98
4                163                           0.99

In [9]:
# select a Series from the DataFrame
SR = df.mean_speed_right
SC = df.mean_speed_center
SL = df.mean_speed_left

In [10]:
# print the first 5 values for right
SR.head()

0    115.67
1    116.82
2    116.72
3    115.91
4    115.34
Name: mean_speed_right, dtype: float64

In [11]:
# print the first 5 values for center
SC.head()

0    127.19
1    127.35
2    126.86
3    125.86
4    126.68
Name: mean_speed_center, dtype: float64

In [12]:
# print the first 5 values for Left
SL.head()

0    133.36
1    131.17
2    132.13
3    131.48
4    130.91
Name: mean_speed_left, dtype: float64

In [13]:
# import linear regression model
from sklearn.linear_model import LinearRegression

In [19]:
# define three linreg models
linreg_R = LinearRegression()
linreg_C = LinearRegression()
linreg_L = LinearRegression()

In [20]:
# fit the model to the training data (learn the coefficients) for right
linreg_R.fit(ZR, SR)

LinearRegression()

In [21]:
# fit the model to the training data (learn the coefficients) for center
linreg_C.fit(ZC, SC)

LinearRegression()

In [22]:
# fit the model to the training data (learn the coefficients) for left
linreg_L.fit(ZL, SL)

LinearRegression()

In [24]:
# print the intercept and coefficients
print(linreg_R.intercept_)
print(linreg_R.coef_)

98.85730828740508
[ 0.0474482  16.44144494]

In [26]:
# print the intercept and coefficients
print(linreg_C.intercept_)
print(linreg_C.coef_)

88.13996757781467
[2.23020164e-03 3.98283660e+01]

In [27]:
# print the intercept and coefficients
print(linreg_L.intercept_)
print(linreg_L.coef_)

31.12421119840218
[1.17525697e-02 9.84652223e+01]